*.gem
*.rbc
.bundle
.config
.ruby-version
.env
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/
node_modules/
npm-debug.log
public/custom.json
public/custom_cache.json
public/assets/
public/js/*.js*
public/css/*.css*

# YARD artifacts
.yardoc
_yardoc
doc/
