sudo: false
cache: bundler
bundler_args: --without development

before_install:

rvm:
  - 2.6.0

cache:
  bundler: true
  directories:
    - node_modules

script: bundle exec rake

branches:
  only:
    - master

services:
  - mongodb
