%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=no"}
%meta{csrf_meta}
%link{rel: 'stylesheet', href: '/css/bootstrap.min.css', type: 'text/css'}
%link{rel: 'stylesheet', href: '/css/bootstrap-responsive.min.css', type: 'text/css'}
%link{rel: 'stylesheet', href: '/css/jquery.pnotify.default.css', type: 'text/css'}
%link{rel: 'stylesheet', href: '/css/default.css', type: 'text/css'}
%script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'}
%script{src: '/js/bootstrap.min.js'}
%script{src: '/js/jquery.pnotify.min.js'}
%script{src: '/js/jquery.purl.js'}
%script{src: '/js/lightbox.js'}
%script{src: '/js/default.js'}
%link{:rel => "apple-touch-icon", :href => "/img/apple-touch-icon-114x114.png"}
%link{:rel => "apple-touch-icon", :href => "/img/apple-touch-icon-57x57.png", :sizes => "57x57"}
%link{:rel => "apple-touch-icon", :href => "/img/apple-touch-icon-72x72.png", :sizes => "72x72"}
%link{:rel => "apple-touch-icon", :href => "/img/apple-touch-icon-114x114.png", :sizes => "114x114"}
