.row-fluid
	.span12
		%header
			%h1
				- if defined?(q) && q
					- exist_pin = Massr::SearchPin.find_by_word(q)
					Search "
					%span#query-string{title: q}<#{q.truncate}
					"
					%a.share-search#share-search{href: '#', class: exist_pin ? 'hide' : ''}
						%i.icon-share-alt.share-search{title: 'share search result'}
					%a.share-search#unshare-search{href: '#', class: exist_pin ? '' : 'hide'}
						%i.icon-remove.share-search{title: 'unshare search result'}
					\/
				%a{:href => "/"}<#{_site_name}
