!!!
%html
	%head
		%title Massr - Mini Wassr
	%body
		!= haml :header
		%p
			#{session[:user].name} さん ようこそ！
			%a(href="logout" title="Logout")<Logout
			%a(href="user" title="setting")<Setting
		!= haml :footer
