!!!
%html
	%head
		%title Massr - Mini Wassr
	%body
		%h1 Massr - Mini Wassr
		-if session[:twitter_id] != nil
			%p
				#{session[:twitter_name]} さん ようこそ！
		-else 
			%a(href="auth/twitter" title="Twitter認証")<Twitter認証
