!!!
%html
	%head
		%title Massr - Mini Wassr
	%body
		%h1 Massr - Mini Wassr
		%p
			#{session[:user].name} さん ようこそ！
			%a(href="logout" title="Logout")<Logout
			%a(href="user" title="setting")<Setting
