!!!
%html
	%head
		%title login - Massr
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span12
					.main
						%p<#{_need_login}
						%a.btn.btn-large.btn-primary{:href => "/auth/twitter", :title => "Login"}<Twitterã§Login &raquo;
			!= haml :footer
