!!!
%html
	%head
		%title login - Massr
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span12
					.main
						%p Massrの利用には、ログインが必要です。
						%a.btn{:href => "/auth/twitter", :title => "Login"}<TwitterでLogin &raquo;
			!= haml :footer
