!!!
%html
	%head
		%title login - Massr
		%link{rel: "stylesheet", type: "text/css", href: "/css/main.css"}
		!= haml :head
	%body
		%p.login-info<#{_need_login}
		.main#main
		%script{src: "/js/login.js"}
