!!!
%html
	%head
		%title Masao Not Found - Massr
		!= haml :head
	%body
		%h1<404 Masao Not Found
		.special-info
			%img#masao{:src => random_masao}
		.special-info
			%a{:href => '/'}<Return to Top
