#items
	.mfp-hide{:id => "stamps"}
		#items
			- stamp_urls.each do |url|
				.stamp
					%img.item-stamp{:src => "#{image_size_change(url,10)}"}
	- statements.each do |statement|
		!= haml :photo , :locals => {:statement => statement}
- if pagenation
	.pagenation
		%input.btn.btn-large{:id => 'subjoinpage', :type => "button" , :value => "next" , :path => "#{request.path_info}.json", :query => "#{q}"}
		%img{:id => 'subjoinpage-loading', :src => '/img/masao_loading.gif', :alt => 'Loading...'}

