!!!
%html
	%head
		%title Massr - User Entries
		!= haml :head
	%body
		!= haml :header
		.container
			.row-fluid
				.span8
					!= haml :entry ,:locals => {:entry => entry}
				.span4
					%aside
						サイドバー
		!= haml :footer
